<div class="text-white">
    <p>
    Jeu du bâtonnets : plateau
    </p>
    <p id="board">
    @for(etatBatonnet of this.etatPlateau.etatBatonnetMap.values(); track etatBatonnet.index) {
        <app-adaptative-batonnet 
            [inputEtatPlateau]="this.etatPlateau" 
            [inputEtatBatonnet]="etatBatonnet"
            (outputIndiceBatonnet)="handlerChangementEtatBatonnet($event)" />
    }
    </p>
    @if(this.etatPlateau.nbBatonnetSelectionne > 0) {
    <p id="action-bar">
        <button id="play-btn" class="btn btn-success" >Jouer</button>
    </p>
    }
</div>