<form class="text-white m-2 w-25" >
    <div class="mb-3">
        <p class="text-center">
            Se formulaire à pour objectif de vous authentifier à l'API Twitch !
        </p>
    </div>
    <div class="mb-3">
        <label for="formClientID" class="form-label">Client ID</label>
        <input type="clientID" class="form-control" id="formClientID" [(ngModel)]="this.authCredentials.clientID" name="clientID" #clientID="ngModel" >
    </div>
    <div class="mb-3">
        <label for="formSecret" class="form-label">Secret</label>
        <input type="password" class="form-control" id="formSecret" [(ngModel)]="this.authCredentials.secret" name="secret" #secret="ngModel" >
    </div>
    <button class="btn btn-primary" (click)="seConnecter()" >Se connecter</button>
</form>